spring:
  application:
    name: orderProcessingService
    datasource:
      url: jdbc:h2:mem:orders;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
      driverClassName: org.h2.Driver
      username: sa
      password:
      jpa:
        hibernate:
          ddl-auto: update
        properties:
          hibernate:
            format_sql: true
    server:
      port: 8080
    outbox:
      worker:
        poll-interval-ms: 3000
        batch-size: 10
        in-progress-timeout-seconds: 60
